extends ../layout
block styles
	link(rel='stylesheet', href='/chat/css/people-list.css')
block content
	.container
		h1 所有用户（#{users.length}人）
		if users.length
			ul.login_userlist
				for user in users
					li
						i
							img(src="#{user.picture}", width="40", height="40")
						if user.id == session.user.id
							span #{user.name}（本人）
							a(href="/chatMain", class="owner") 进入会话
						else
							span #{user.name}
							a(href="/peopleList/createSession/#{user.id}") 发起会话
				
block scripts
	script require(['/chat/js/people-list'])


