doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title=title
		link(rel='stylesheet', href='/common/static/css/base.css')
		link(rel='stylesheet', href='/common/static/css/font.css')
		block styles
body
	if session.user
		input(id="USERID", type="hidden", value="#{session.user.id}")
		input(id="USERPIC", type="hidden", value="#{session.user.picture}")
		input(id="USERNAME", type="hidden", value="#{session.user.name}")
	header.page_header
		div.login_register
			if typeof session.user !== 'undefined'
				a(href="/profile.html") #{session.user.name}
				a(href="/auth/logout") 退出
			else
				a(href="/auth/login.html") 登录
				a(href="/auth/register.html") 注册

		nav
			ul.clearfix
				li
					a(href="/") 首页
				li
					a(href="/profile.html") 我的
				li
					a(href="/entry.html") 用户列表
	block content

	script(src="/node_modules/jQuery/dist/jquery.min.js")
	script(src="/common/components/esl/src/esl.js")
	block scripts
